{{>layout/header}}
<center> <br/><h2>게시글 상세보기</h2><br/><br/></center>

<center>
    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="bdId">글 번호</label>
                    <input type="text" class="form-control" id="bdId" value="{{brd.bdId}}" readonly>
                </div>
                <div class="form-group">
                    <label for="bdSubject">제목</label>
                    <input type="text" class="form-control" id="bdSubject" value="{{brd.bdSubject}}">
                </div>
                <div class="form-group">
                    <label for="createdId"> 작성자 </label>
                    <input type="text" class="form-control" id="createdId" value="{{brd.createdId}}" readonly>
                </div>
                <div class="form-group">
                    <label for="bdContents"> 내용 </label>
                    <textarea class="form-control" id="bdContents">{{brd.bdContents}}</textarea>
                </div>
            </form>
            <br/>
            <a href="/board" role="button" class="btn btn-secondary">뒤로가기</a>
            <button type="button" class="btn btn-danger" id="btn-delete">글 삭제</button>
            <button type="button" class="btn btn-primary" id="btn-update">수정하기</button>
        </div>
    </div>
</center>

{{>layout/footer}}
