{{>layout/header}}
<center><br/><br/><h2>박수호 toy project (JPA, Boot, mustache)</h2><br/></center>
<center><br/><h3>상세기술서</h3><br/></center>
<center><br/><h4>1. 기본 게시판 기능(create, read, delete, update) </h4><br/></center>
<center><h4>2. 조회수기능 </h4><br/></center>
<center><h4>3. 게시글 삭제시 delYn = "Y"로 게시글 목록 안보이게 처리 (no @DeleteMapping)</h4><br/></center>
<center><h4>4. 등록날짜, 수정날짜</h4><br/></center>
<center><h4>5. 게시글 제목에 상세링크</h4><br/></center>
<center><h3>↓</h3><br/></center>
<center><a href="/board">게시판 바로가기</a></center>
{{>layout/footer}}
